/*=============================================
=            Utilities            =
=============================================*/
:root {
	--spacing-none: 0;
	--spacing-extra-small: .25rem;
	--spacing-small: .5rem;
	--spacing-medium: 1rem;
	--spacing-large: 2rem;
	--spacing-extra-large: 4rem;
	--spacing-extra-extra-large: 8rem;
	--spacing-extra-extra-extra-large: 16rem;
}

/*=============================================
=            Styles            =
=============================================*/
[x-cloak] {
	display: none;
}

.error-text {
	color: #dc3232;
}

mark { background: none; color: #ef4444 }

.help {
	font-style: italic;
	color: #777;
}

.gpc-form label,
.gpc-form input[type="text"],
.gpc-form input[type="number"],
.gpc-form input[type="email"],
.gpc-form select,
.gpc-form textarea {
	display: block;
}

.gpc-form label,
.gpc-form input[type="text"]:not([class^="w-"]),
.gpc-form input[type="number"]:not([class^="w-"]),
.gpc-form input[type="email"]:not([class^="w-"]),
.gpc-form select:not([class^="w-"]),
.gpc-form textarea:not([class^="w-"]) {
	display: block;
	width: min(100%, 25em);
}

.gpc-form .form-group {
	display: grid;
	grid-template-columns: 160px auto;
}

.gpc-form .form-group + .form-group {
	margin-top: 10px;
}

.gpc-form .form-group label {
	font-weight: 600;
}

.gpc-form .form-group .checkbox-label {
	font-weight: normal;
}

.gpc-form .help,
.gpc-form .error-text {
	grid-column: 2;
	margin-top: 5px;
	font-style: normal;
}

.gpc-form .help mark { background: none; color: #ef4444 }

.gpc-submit {
	margin-top: 20px;
	display: flex;
	align-items: center;
}

.gpc-submit .spinner {
	float: none;
	margin-top: 0;
}

.gpc-spinner {
	background: url(../images/spinner.gif) no-repeat;
    background-size: 20px 20px;
    display: inline-block;
    vertical-align: middle;
    opacity: .7;
    width: 20px;
    height: 20px;
    margin: 4px 10px 0;
}

.wp-core-ui .button,
.wp-core-ui .button-primary,
.wp-core-ui .button-secondary {
	display: inline-flex;
	align-items: center;
}

textarea {
	min-height: 30px;
}

table.wp-list-table th {
	font-weight: 600;
}

table.wp-list-table th .description {
	font-weight: normal;
}

.gpc-notice {
	background: #fff;
	border: 1px solid #c3c4c7;
	border-left-width: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	padding: 1px 12px;
}

.gpc-notice.is-success {
	border-left-color: #46b450;
}

.wp-core-ui select {
	max-width: min(100%, 25rem);
}

/* Uploader */
.uploader {
	padding: 10px;
	border: 1px solid #c3c4c7;
}

.uploader-images {
	display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 10px;
}

.uploader-images__item {
	position: relative;
}

.uploader-images__img {
	width: 120px;
	height: 120px;
	object-fit: cover;
}

.uploader-images__remove {
	position: absolute;
	top: -5px;
	right: -5px;
	text-decoration: none;
	color: #000;
	background: #f0f0f1;
    box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(0, 0, 0, .15);
}

.uploader-images__remove .dashicons {
	width: 20px;
	height: 20px;
	font-size: 20px;
}

/* Tooltip */
/* Tooltip container */
[data-tooltip] {
	position: relative;
	display: inline-block;
}

/* Tooltip text */
[data-tooltip]:after {
	display: block;
	content: attr(data-tooltip);
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	font-size: 12px;

	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%);
}

/* Show the tooltip text when you mouse over the tooltip container */
[data-tooltip]:hover:after {
	visibility: visible;
}

/*=============================================
=            Utilities            =
=============================================*/

/*---------- Spacing ---------- */
.pa0{padding:var(--spacing-none)}
.pa1{padding:var(--spacing-extra-small)}
.pa2{padding:var(--spacing-small)}
.pa3{padding:var(--spacing-medium)}
.pa4{padding:var(--spacing-large)}
.pa5{padding:var(--spacing-extra-large)}
.pa6{padding:var(--spacing-extra-extra-large)}
.pa7{padding:var(--spacing-extra-extra-extra-large)}
.pl0{padding-left:var(--spacing-none)}
.pl1{padding-left:var(--spacing-extra-small)}
.pl2{padding-left:var(--spacing-small)}
.pl3{padding-left:var(--spacing-medium)}
.pl4{padding-left:var(--spacing-large)}
.pl5{padding-left:var(--spacing-extra-large)}
.pl6{padding-left:var(--spacing-extra-extra-large)}
.pl7{padding-left:var(--spacing-extra-extra-extra-large)}
.pr0{padding-right:var(--spacing-none)}
.pr1{padding-right:var(--spacing-extra-small)}
.pr2{padding-right:var(--spacing-small)}
.pr3{padding-right:var(--spacing-medium)}
.pr4{padding-right:var(--spacing-large)}
.pr5{padding-right:var(--spacing-extra-large)}
.pr6{padding-right:var(--spacing-extra-extra-large)}
.pr7{padding-right:var(--spacing-extra-extra-extra-large)}
.pb0{padding-bottom:var(--spacing-none)}
.pb1{padding-bottom:var(--spacing-extra-small)}
.pb2{padding-bottom:var(--spacing-small)}
.pb3{padding-bottom:var(--spacing-medium)}
.pb4{padding-bottom:var(--spacing-large)}
.pb5{padding-bottom:var(--spacing-extra-large)}
.pb6{padding-bottom:var(--spacing-extra-extra-large)}
.pb7{padding-bottom:var(--spacing-extra-extra-extra-large)}
.pt0{padding-top:var(--spacing-none)}
.pt1{padding-top:var(--spacing-extra-small)}
.pt2{padding-top:var(--spacing-small)}
.pt3{padding-top:var(--spacing-medium)}
.pt4{padding-top:var(--spacing-large)}
.pt5{padding-top:var(--spacing-extra-large)}
.pt6{padding-top:var(--spacing-extra-extra-large)}
.pt7{padding-top:var(--spacing-extra-extra-extra-large)}
.pv0{padding-top:var(--spacing-none);padding-bottom:var(--spacing-none)}
.pv1{padding-top:var(--spacing-extra-small);padding-bottom:var(--spacing-extra-small)}
.pv2{padding-top:var(--spacing-small);padding-bottom:var(--spacing-small)}
.pv3{padding-top:var(--spacing-medium);padding-bottom:var(--spacing-medium)}
.pv4{padding-top:var(--spacing-large);padding-bottom:var(--spacing-large)}
.pv5{padding-top:var(--spacing-extra-large);padding-bottom:var(--spacing-extra-large)}
.pv6{padding-top:var(--spacing-extra-extra-large);padding-bottom:var(--spacing-extra-extra-large)}
.pv7{padding-top:var(--spacing-extra-extra-extra-large);padding-bottom:var(--spacing-extra-extra-extra-large)}
.ph0{padding-left:var(--spacing-none);padding-right:var(--spacing-none)}
.ph1{padding-left:var(--spacing-extra-small);padding-right:var(--spacing-extra-small)}
.ph2{padding-left:var(--spacing-small);padding-right:var(--spacing-small)}
.ph3{padding-left:var(--spacing-medium);padding-right:var(--spacing-medium)}
.ph4{padding-left:var(--spacing-large);padding-right:var(--spacing-large)}
.ph5{padding-left:var(--spacing-extra-large);padding-right:var(--spacing-extra-large)}
.ph6{padding-left:var(--spacing-extra-extra-large);padding-right:var(--spacing-extra-extra-large)}
.ph7{padding-left:var(--spacing-extra-extra-extra-large);padding-right:var(--spacing-extra-extra-extra-large)}
.ma0{margin:var(--spacing-none)}
.ma1{margin:var(--spacing-extra-small)}
.ma2{margin:var(--spacing-small)}
.ma3{margin:var(--spacing-medium)}
.ma4{margin:var(--spacing-large)}
.ma5{margin:var(--spacing-extra-large)}
.ma6{margin:var(--spacing-extra-extra-large)}
.ma7{margin:var(--spacing-extra-extra-extra-large)}
.ml0{margin-left:var(--spacing-none)}
.ml1{margin-left:var(--spacing-extra-small)}
.ml2{margin-left:var(--spacing-small)}
.ml3{margin-left:var(--spacing-medium)}
.ml4{margin-left:var(--spacing-large)}
.ml5{margin-left:var(--spacing-extra-large)}
.ml6{margin-left:var(--spacing-extra-extra-large)}
.ml7{margin-left:var(--spacing-extra-extra-extra-large)}
.mr0{margin-right:var(--spacing-none)}
.mr1{margin-right:var(--spacing-extra-small)}
.mr2{margin-right:var(--spacing-small)}
.mr3{margin-right:var(--spacing-medium)}
.mr4{margin-right:var(--spacing-large)}
.mr5{margin-right:var(--spacing-extra-large)}
.mr6{margin-right:var(--spacing-extra-extra-large)}
.mr7{margin-right:var(--spacing-extra-extra-extra-large)}
.mb0{margin-bottom:var(--spacing-none)}
.mb1{margin-bottom:var(--spacing-extra-small)}
.mb2{margin-bottom:var(--spacing-small)}
.mb3{margin-bottom:var(--spacing-medium)}
.mb4{margin-bottom:var(--spacing-large)}
.mb5{margin-bottom:var(--spacing-extra-large)}
.mb6{margin-bottom:var(--spacing-extra-extra-large)}
.mb7{margin-bottom:var(--spacing-extra-extra-extra-large)}
.mt0{margin-top:var(--spacing-none)}
.mt1{margin-top:var(--spacing-extra-small)}
.mt2{margin-top:var(--spacing-small)}
.mt3{margin-top:var(--spacing-medium)}
.mt4{margin-top:var(--spacing-large)}
.mt5{margin-top:var(--spacing-extra-large)}
.mt6{margin-top:var(--spacing-extra-extra-large)}
.mt7{margin-top:var(--spacing-extra-extra-extra-large)}
.mv0{margin-top:var(--spacing-none);margin-bottom:var(--spacing-none)}
.mv1{margin-top:var(--spacing-extra-small);margin-bottom:var(--spacing-extra-small)}
.mv2{margin-top:var(--spacing-small);margin-bottom:var(--spacing-small)}
.mv3{margin-top:var(--spacing-medium);margin-bottom:var(--spacing-medium)}
.mv4{margin-top:var(--spacing-large);margin-bottom:var(--spacing-large)}
.mv5{margin-top:var(--spacing-extra-large);margin-bottom:var(--spacing-extra-large)}
.mv6{margin-top:var(--spacing-extra-extra-large);margin-bottom:var(--spacing-extra-extra-large)}
.mv7{margin-top:var(--spacing-extra-extra-extra-large);margin-bottom:var(--spacing-extra-extra-extra-large)}
.mh0{margin-left:var(--spacing-none);margin-right:var(--spacing-none)}
.mh1{margin-left:var(--spacing-extra-small);margin-right:var(--spacing-extra-small)}
.mh2{margin-left:var(--spacing-small);margin-right:var(--spacing-small)}
.mh3{margin-left:var(--spacing-medium);margin-right:var(--spacing-medium)}
.mh4{margin-left:var(--spacing-large);margin-right:var(--spacing-large)}
.mh5{margin-left:var(--spacing-extra-large);margin-right:var(--spacing-extra-large)}
.mh6{margin-left:var(--spacing-extra-extra-large);margin-right:var(--spacing-extra-extra-large)}
.mh7{margin-left:var(--spacing-extra-extra-extra-large);margin-right:var(--spacing-extra-extra-extra-large)}

.space-y-1 > :not([hidden], template)+:not([hidden]) { margin-top: var(--spacing-extra-small); }
.space-y-2 > :not([hidden], template)+:not([hidden]) { margin-top: var(--spacing-small); }
.space-y-3 > :not([hidden], template)+:not([hidden]) { margin-top: var(--spacing-medium); }
/*---------- Grid ---------- */
.grid { display: grid }
.grid-cols-2 { grid-template-columns: repeat(2, minmax(0, 1fr)) }
.grid-cols-3 { grid-template-columns: repeat(3, minmax(0, 1fr)) }
.col-span-1	{ grid-column: span 1 / span 1; }
.col-span-2	{ grid-column: span 2 / span 2; }
.col-span-full { grid-column: 1 / -1; }

.gap-0 { gap: var(--spacing-none); }
.gap-1 { gap: var(--spacing-extra-small); }
.gap-2 { gap: var(--spacing-small); }
.gap-3 { gap: var(--spacing-medium); }
.gap-4 { gap: var(--spacing-large); }
.gap-5 { gap: var(--spacing-extra-large); }
.gap-6 { gap: var(--spacing-extra-extra-large); }
.gap-7 { gap: var(--spacing-extra-extra-extra-large); }

/*---------- Flex ---------- */
.d-flex, .flex { display: flex }
.flex-wrap { flex-wrap: wrap }

/*---------- Width ---------- */

.w-25 { width: 6.25rem; } /* 100px */
.w-1\/2 { width: 50%; }
.w-full { width: 100%; }

.max-w-lg { max-width: 1152px; }
.max-w-1\/2 { max-width: 50%; }
.max-w-full { max-width: 100%; }


